
@{
    ViewBag.Title = "Jachty Ladowe";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>Jachty Ladowe</h2>

<img src="C:\Users\Lukasz_VM\Desktop\Smaga\Graphics\placeholder.png" alt="test">
<p>
    Antila 33
    Antila 33 to nowoczesny, podążający za obecnymi trendami, luksusowy jacht żaglowy przeznaczony do uprawiania żeglarstwa śródlądowego. Jacht ten jest flagowym modelem stoczni Antila-Yachts z Radomia, jego premiera miała miejsce w 2015 r. Antila 33 to odpowiedź producenta na coraz większe zainteresowanie dużymi, bardzo wygodnymi jachtami klasy premium. Pod względem estetyki, wygody oraz miejsca pod pokładem Antila 33 nie ma sobie równych. Jacht oferuje największe i najwygodniejsze wnętrze ze wszystkich jachtów dostępnych na Mazurach. Żeglowanie Antilą sprawia wielką przyjemność między innymi za sprawą łatwości obsługi, szeroko rozstawionych dwóch kół sterowych i dobrych osiągów nautycznych. Antila 33 to jacht który stworzył nowy standard, jacht który po prostu wyznacza trendy.
</p>
<p class="book1">Book1</p>

<p>
    Delphia 33 MC
    bardzo wygodna i komfortowa. Przestronne, komfortowe i nowoczesne wnętrze zapewni wysoki komfort nawet najbardziej wymagającej załodze. Delphia 33 MC wygodnie pomieści nawet 10-cio osobową załogę. Od strony nautycznej jacht nie odstępuje innym jednostką z tego segmentu rozmiarowego. Manewrowość w porcie ułatwi mocny i niezawodny silnik umieszczony w studzience oraz wydajny ster strumieniowy. Jacht oferuje obszerny kokpit wyposażony w szpryc budę ochraniającą załogę od wiatru oraz koło sterowe z wygodnym siedziskiem dla sternika. Pokład jednostki jest bardzo obszerny, wysokie sztorm reling znacznie ułatwią komunikację między dziobem a rufą.
</p>
<p class="book1">Book2</p>

<p>
    Antila 30
    bardzo wygodny i komfortowy. Posiada on obszerny kokpit z kołem sterowym. Jednostka została wyposażona w mocny i niezawodny silnik zaburtowy Honda 15 KM oraz ster strumieniowy Lewmar ułatwiający manewrowanie w ciasnych mazurskich portach. Przed wejściem na mieliznę uchroni nas echosonda. Kokpit posiada również stały rozkładany stolik z wyprofilowanymi wnękami na szklanki lub butelki
</p>
<p class="book1">Book3</p>