
@{
    ViewBag.Title = "Jachty Morskie";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<h2>Jachty Morskie</h2>


<p>Bavaria 46 Cruiser 
    jest udaną konstrukcją w serii Cruiser i w grupie „class” jest aktualnie na czołowym miejscu wśród czterokabinowych jachtów. 
    Cieszy się dużym zainteresowaniem wśród czarterujących, ma bowiem naprawdę dużo zalet. Obsługa żagli jest prosta, a manewrowanie pod żaglami 
    i na silniku w portach łatwe. Osiągi nautyczne jachtu Bavaria 46 Cruiser są zadowalające, a na deku i pod pokładem jest bardzo dużo miejsca dla załogi.
    Długość całkowita 14.27m</p>



<p> Bali 4.0
    Długość łodzi Bali 4.0 wynosi 11.88 m. Jacht ma 6.70 m. szerokości. Jacht żaglowy ma zanurzenie 1.12 m. Ten jacht zapewnia komfortową żeglugę dla całej rodziny po morzu. Na łodzi żaglowej Bali 4.0 zostały zastosowane żagle o powierzchni 81-90 m2. Zbiorniki na paliwo mają objętość 300-400 l. , natomiast zbiornik na wodę 600-800 l. Na jachcie żaglowym tego modelu umieszczone są następujące silniki: 2 X 20 HP, 2 x 40 HP.
</p>


<p>
    Sun Odyssey 410
    może pomieścić 8 osób. Dzięki 3 kabinom ten Jacht żaglowy żeglarski zapewni Ci przyjemny sen, zarówno w przypadku zakotwiczenia w cichej zatoce, jak i w przystani.

</p>
<!--
<table>
    <tr>
        <!--menu 
        <th> <div class="menu">Logo</div>             </th>
        <th> <div class="menu">Home</div>            </th>
        <th> <div class="menu">Jachty Morskie</div>  </th>
        <th> <div class="menu">Jachty Lądowe</div>   </th>
    </tr>
    <tr>
        <!--Main Body
        <td> <div class="content">Body/Content - tutaj dawac target</div> </td>
    </tr>
    <tr>
        <!--Stopka
        <td> <div class="stopka">Dane kontaktowe/stopka</div> </td>
    </tr>
</table>

-->









